
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ErrorTransaction</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
         <div class="container">
            <h4 style="padding-top: 200px; " align="center" a>¡Ha ocurrido un Error en la transaccion, Por favor intentelo de nuevo!</h4>
             <div class="row">
                <div class="col-md-3"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                                <button id="btnComercio" class="btn btn-lg">
                                    Ir al Comercio
                                </button>
                                <button id="BtnReintentar" class="btn btn-lg">
                                    Reintentar
                                </button>
                            </div>
                        </div>
                    </div>
             </div>
                <div class="col-md-3"></div>
         </div>
   
    </body>
</html>
