<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <table id="tableUsers" class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center" style="vertical-align:central">Id</th>
                                <th class="text-center" style="vertical-align:central">UserName</th>
                                <th class="col-md-2 text-center" style="vertical-align:central">Reinicia Token</th>
                                <th class="col-md-1 text-center" style="vertical-align:central">Bloqueado</th>
                                <th class="text-center" style="vertical-align:central">Aplicación</th>
                                <th class="col-md-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in lstUsers" ng-cloak>
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{user.UserName}}</td>
                                <td class="text-center">{{user.ResetToken}}</td>
                                <td class="text-center">{{user.LockoutEnabled}}</td>
                                <td>{{user.ClientId}}</td>
                                <td class="text-center"><button id="editarUsuario" class="btn btn-success" ng-click="editarUsuario($index)" data-toggle="modal" data-target="#modalForms">Editar</button> <button id="borrarUsuario" class="btn btn-danger" ng-click="eliminarUsuario($index)">Borrar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <button id="crearUsuario" class="btn btn-info" ng-click="crearUsuario()" data-toggle="modal" data-target="#modalForms">Crear Usuario</button>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalForms" tabindex="-1" role="dialog" aria-labelledby="modalForms" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ng-include src="modalTemplate"></ng-include>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{modalButtonCancel}}</button>
                <button type="button" class="btn btn-primary" ng-click="procesar()">{{modalButtonProcess}}</button>
            </div>
        </div>
    </div>
</div>